/* mystyle.css*/
ul{
    list-style-type: di;
    list-style: circle inside url('https://i.kym-cdn.com/photos/images/original/002/584/508/141.gif');
}

h1{
    color: purple;
}
h1, .myh1{
font-size: 36pt;
margin: 30px;
padding: 20px;
border: 3px solid blueviolet;
border-radius: 15%;
text-align: center;
background-image: url('https://i.kym-cdn.com/photos/images/original/002/584/508/141.gif');
background-size: 110px;
background-repeat: no-repeat;

}
h1:hover{
    background-color: purple;
    color: white;
}

body{
    font-family: 'kanit';
   }
input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: purple;
    color: white;
}
input[type = "fname"]:hover{
    background-color: blueviolet;
}
img {
    display: block;
    margin: 10px auto;
    width: 100px;
    border-radius: 100%;

}
body {
    background-image: url('https://media1.tenor.com/m/X-l2UP6iiQoAAAAd/herta-honkai-star-rail.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    background-color: aliceblue;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: left;
    padding: 20px; 
    border: 3px solid purple; 
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    width: 30%; 
    margin: auto; 
}